# Clion IDE CMake build & config
.idea/
.vscode/
cmake-build-*/

# ESP-IDF default build directory name
build
ESP32_freertos_queue/sdkconfig

# Components Unit Test Apps files
components/**/build
components/**/sdkconfig
components/**/sdkconfig.old

.config
*.o
*.pyc
sdkconfig.old